/* home 页的专属样式 */
.container .content {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
   }
   .main {
    width:71%
   }
   .main .list article {
    line-height:1.8em;
    margin-bottom:34px
   }
   .main .list h2 {
    font-weight:400
   }
   .main .list h2 .title {
    font-size:20px;
    color:#3E3B3F;
    position:relative;
    -webkit-box-shadow:0 0 1px transparent;
    box-shadow:0 0 1px transparent
   }
   .main .list .description {
    line-height:25px;
    font-size:14px;
    color:#666
   }
   .main .list .more {
    font-size:12px
   }
   .main .list .date {
    text-align:right;
    margin-left:60px;
    font-size:13px;
    line-height:12px;
    color:#666
   }
   .aside {
    width:27%;
    float:right;
    color:#514951
   }
   .aside .v-section-tit {
    padding:0 5px;
    font-size:18px;
    line-height:30px;
    font-weight:500;
    color:#3E3B3F;
    border-bottom:1px solid #dedede;
    margin-bottom:6px;
    margin-top:20px
   }
   .aside .about p {
    line-height:1.6;
    margin-bottom:10px;
    font-size:14px
   }
   .page {
    text-align:center
   }
   .page a,
   .page span {
    border:1px solid #ccc;
    width:35px;
    height:35px;
    display:inline-block;
    text-align:center;
    line-height:35px;
    border-radius:50%;
    margin:0 2px
   }
   .page span {
    background:#ececec;
    cursor:default
   }
   .page .next,
   .page .prev {
    width:auto;
    padding:0 6px;
    border-radius:4px
   }
   