<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>关于-蚊子-前端博客</title>

	<meta name="format-detection" content="telephone=no, email=no" />
	<link rel="stylesheet" href="/static/css/public.css?t=20190509">
	<link rel="stylesheet" href="/static/css/about.css">
	<link rel="shortcut icon" href="/favicon.ico">
</head>

<body>
<div style=" display: flex;  justify-content: center; margin-top: 50%;" >
	<form enctype="multipart/form-data" action="/upfile/" method="post"  >
		<input type="file" name="filr">
		<br/>
		<input type="button" value="upload">
	</form>
</div>


	<script type="text/javascript" src="/static/js/common.js?t=20191031"></script>
</body>
<!-- last updated at:2020/07/23 23:39:20 -->

</html>