<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>仿菜鸟</title>
    <link rel="stylesheet" href="/static/CSS/菜鸟.css">
    <script src="/static/JS/菜鸟.js"></script>
</head>
<body>
    <div id="headr"><!-- 头部 -->
        <div class="imgs">
            <img src="/static/image/logo.jpg" alt="error">
        </div>
        <div class="form">
            <form  >
                <input type="text" class="form2" placeholder="搜索...">
            </form>
        </div>
    </div>
    
    <div id="list"><!-- 标签页 -->
        <ul class="ul" >
            <li id="li_one"> <a href="#home"> 首页</a></li>
            <li > <a href="#home"> 精华</a> </li>
            <li> <a href="#home"> 关于</a> </li>
            <li> <a href="#home"> 留言</a> </li>
        </ul>
    </div>


    <div class="import">
        <div id="contente_left"  ><!-- 中心左 -->
            <div><a href="https://www.runoob.com/html/html-tutorial.html">Html/CSS</a></div>
            <div><a href="https://www.runoob.com/js/js-tutorial.html">JavaScript</a></div>
            <div><a href="https://www.runoob.com/">数据库</a></div>
            <div><a href="https://www.runoob.com/python3/python3-tutorial.html">python</a></div>
            <i class="fa fa-external-link"></i>
        </div>
        <div id="contente_center" onclick="change()" ><!-- 中心 -->
            <h2>技术人员如何写博客</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
            <h2>技术人员如何写博客</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
            <h2>技术人员如何写博客</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
            <h2>技术人员如何写博客</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
            <h2>技术人员如何写博客</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
            <h2>技术人员如何写博客</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
            <h2>技术人员如何写博客</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
            <h2>技术人员如何写博客</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
            <h2>技术人员如何写博客</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
            <h2>技术人员如何写博客</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
            <h2>技术人员如何写博客</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
            <h2>技术人员如何写博客</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
            <h2>朦胧大主战</h2>
            <p>人们慢慢的意识到传统的盒子模型不直接，所以他们新增了一个叫做 box-sizing 的CSS属性。<br>
                当你设置一个元素为 box-sizing: border-box; 时，此元素的内边距和边框不再会增加它的宽度。<br>
                这里有一个与前一页相同的例子，唯一的区别是两个元素都设置了 box-sizing: border-box;
            </p>
        </div>
        <div id="contente_right"><!-- 中心右 -->
            <p>“当我年轻的时候，我梦想改变这个世界；当我成熟以后，我发现我不能够改变这个世界，我将目光缩短了些，决定只改变我的国家；当我进入暮年以后，我发现我不能够改变我们的国家，我的最后愿望仅仅是改变一下我的家庭，但是，这也不可能。当我现在躺在床上，行将就木时，我突然意识到：如果一开始我仅仅去改变我自己，然后，我可能改变我的家庭；在家人的帮助和鼓励下，我可能为国家做一些事情；然后，谁知道呢?我甚至可能改变这个世界。”
                个元素都设置了 box-sizing: border-box;
            </p>
        </div>
        
    </div>
    <div id="img2" onmouseover="photo()" onmouseout="photo2()">
        <img src="/static/image/2.png" alt="error" width="53px" height="53px">
    </div>
    <div id="img3" >
        <img src="/static/image/5.png" alt="error">
    </div>
    <footer id="foote" ><!-- 足部 -->
        <div>
            <div class="foot">
                在线实例
            </div>
            <div class="foot">
                在线实例
            </div>
            <div class="foot">
                在线实例
            </div>
            <div id="foot1">
                在线实例
            </div>
        </div>

    </footer>
</body>
</html>